.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1000;
  box-shadow: 0 4px 2px -2px gray;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 5px;
}

.logo {
  width: 50px;
  height: auto;
}

main {
  margin-top: 70px;
}
